/* globals & common */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  border-image-width: 0;
  font-size: 0;
}

.clear {
  clear: both;
}

* {
  outline: 1px dotted #900;
}

html {
  font-size: 16px;
}

/* +++INITIAL PARAMS + STICKY FOOTER+++ */
html, body, .wrapper, .wrapmain {
  height: 100%;
  width: 100%;
}

.wrapper {
  display: table;
  min-width: 120px;
}

.wraphead, .wrapmain, .wrapfoot {
  display: table-row;
  width: 100%;
}

.mainmenu_link,
.footlink_link,
.mainmenu_btn {
  font-size: 16px;
}

.header,
.main,
.footer,
.logoplace,
.menuwrap,
.content,
.footlink,
.teaser-article,
.teaser-gallery,
.contacts {
  display: block;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .header, .main, .footer {
    width: 720px;
  }
}

@media screen and (min-width: 990px) and (max-width: 1229px) {
  .header, .main, .footer {
    width: 960px;
  }
}

@media screen and (min-width: 1230px) and (max-width: 1469px) {
  .header, .main, .footer {
    width: 1200px;
  }
}

@media screen and (min-width: 1470px) and (max-width: 1629px) {
  .header, .main, .footer {
    width: 1440px;
  }
}

@media screen and (min-width: 1630px) and (max-width: 2039px) {
  .header, .main, .footer {
    width: 1600px;
  }
}

@media screen and (min-width: 2040px) {
  .header, .main, .footer {
    width: 2000px;
  }
}

@media screen and (min-width: 230px) and (max-width: 749px) {
  .logoplace {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    width: 128px;
    height: 48px;
  }
}

@media screen and (min-width: 750px) and (max-width: 2039px) {
  .logoplace {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    width: 128px;
    height: 128px;
  }
}

@media screen and (min-width: 2040px) {
  .logoplace {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    width: 160px;
    height: 160px;
  }
}

@media screen and (min-width: 230px) and (max-width: 749px) {
  .menuwrap {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 128px);
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .menuwrap {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    width: 592px;
  }
}

@media screen and (min-width: 990px) and (max-width: 1229px) {
  .menuwrap {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    width: 832px;
  }
}

@media screen and (min-width: 1230px) and (max-width: 1469px) {
  .menuwrap {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    width: 1072px;
  }
}

@media screen and (min-width: 1470px) and (max-width: 1629px) {
  .menuwrap {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    width: 1312px;
    height: 128px;
  }
}

@media screen and (min-width: 1630px) and (max-width: 2039px) {
  .menuwrap {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    width: 1472px;
  }
}

@media screen and (min-width: 2040px) {
  .menuwrap {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    width: 1840px;
  }
}

.breadcrumbs {
  display: block;
}

@media screen and (max-width: 479px) {
  .breadcrumbs {
    display: none;
  }
}

@media screen and (min-width: 480px) and (max-width: 749px) {
  .breadcrumbs {
    display: block;
  }
}

@media screen and (min-width: 750px) {
  .breadcrumbs {
    display: inline-block;
    vertical-align: top;
  }
}

.wrapper {
  background-color: #e9eaec;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKCAMAAABL52QCAAAABlBMVEXCw8Tp6uwFw7MwAAAAF0lEQVR4AWNgYAQCCMEAIoAQgkA8/LIABOwAKWIaZEkAAAAASUVORK5CYII=);
  font-size: 16px;
}

/* blocks */
/*0 - 480 px: mobile*/
.mainmenu {
  display: block;
  position: relative;
}

.mainmenu_btn {
  display: none;
}

@media screen and (max-width: 480px) {
  .mainmenu_btn {
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    color: #e9eaec;
    background-color: #1f3948;
    line-height: 32px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
  }
}

.mainmenu_list {
  display: block;
  list-style: none;
}

@media screen and (max-width: 480px) {
  .mainmenu_list {
    display: none;
  }
}

.mainmenu_item {
  display: block;
  text-align: center;
}

@media screen and (min-width: 481px) {
  .mainmenu_item {
    display: inline-block;
  }
}

.mainmenu_link {
  display: block;
  line-height: 48px;
  padding: 0 16px;
  background-color: #1f3948;
  color: #e9eaec;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

.mainmenu_link__current {
  background-color: #127e9b;
}

.mainmenu__show {
  display: block;
  position: absolute;
  top: 48px;
  right: 0;
}

.options {
  display: none;
}

.breadcrumbs_list {
  display: block;
  list-style: none;
}

.breadcrumbs_item {
  display: inline-block;
  vertical-align: top;
}

.breadcrumbs_item:last-child .breadcrumbs_link {
  color: #900;
}

.breadcrumbs_item:last-child .breadcrumbs_link::after {
  content: "";
}

.breadcrumbs_link {
  display: block;
  font-family: monospace;
  text-transform: lowercase;
  font-size: 12px;
  padding: 4px;
  text-decoration: none;
  color: #8e9092;
}

.breadcrumbs_link::after {
  content: " >";
}

.submenu {
  display: block;
}

@media screen and (max-width: 320px) {
  .submenu {
    display: none;
  }
}
