footer.footer
	.footlink
		a.footlink_link(href="#") GitHub
		a.footlink_link(href="#") CodePen
		a.footlink_link(href="#") Facebook
		a.footlink_link(href="#") freeCodeCamp
	.teaser-article
	.teaser-gallery
	.contacts