.breadcrumbs {
	display: block;
	//background-color: $color-light;
}

.bclist {
	list-style: none;
	display: block;
	margin-left: 1rem;
}

.bcelement {
	display: inline-block;
	vertical-align: top;
	line-height: $line-h;
	&:last-child .bcitem {
		font-weight: bold;
		color: $color-contrast;
		&:hover {
			color: $color-main;
		}
		&::after {
			content: none;
		}
	}
}

.bcitem {
	font-size: $f-size * .65;
	font-family:  monospace;
	text-transform: lowercase;
	text-decoration: none;
	color: $color-main;
	&:hover {
		color: $color-contrast;
	}
	&::after {
		content: ">>";
		margin: .25rem;
	}
}

@media screen and (min-width: 481px) and (max-width: 1280px) {
	.bclist {
		margin-left: $logosize * 3;
	}
}