.breadcrumbs_list {
  display: block;
  list-style: none;
  
}

.breadcrumbs_item {
  display: inline-block;
  vertical-align: top;
  &:last-child .breadcrumbs_link {
    color: $color-contrast;
    &::after {
      content: "";
    }
  }
}

.breadcrumbs_link {
  display: block;
  font-family: monospace;
  text-transform: lowercase;
  font-size: $basic * 0.75;
  padding: 0.25 * $basic;
  text-decoration: none;
  color: darken($color-bgdark, 20%);
  &::after {
    content: " >";
  }
}