html {
  font-size: $basic;
}
/* +++INITIAL PARAMS + STICKY FOOTER+++ */
html, body, .wrapper, .wrapmain {
  height: 100%;
  width: 100%;
}
.wrapper {
  display: table;
}
.wraphead, .wrapmain, .wrapfoot {
  display: table-row;
  width: 100%;
}
//----
.mainmenu_link,
.breadcrumbs_link,
.search_input,
.search_submit,
.footlink_link,
#lang
{font-size: $basic;}
/* ---INITIAL PARAMS + STICKY FOOTER--- */

.breadcrumb, .search, .sideleft, .content, .sideright, .footlink, .teaser-article, .teaser-gallery, .contacts, .logo, .menuwrap {
  display: block;
	margin: 0 auto;
  width: 100%;
  //height: $logo-width;//temp
  //background-color: $color-main;//temp
}

//----insert in media-query 320-720 later


//-----------------------------------------------
// MEDIA QUERIES
//-----------------------------------------------
/*@media screen and (min-width: 300px) {
	.logo {
		width: $logo-width;
		height: $basic * 3;//temp
		display: inline-block;//temp
		vertical-align: top;//temp
	}
}*/

.header, .main, .footer {
  display: block;
	margin: 0 auto;
  width: 100%;
	@media screen and (min-width: 750px) and (max-width: 989px) {
		width: $w720;
	}
	@media screen and (min-width: 990px) and (max-width: 2039px) {
		width: $w960;
	}
	@media screen and (min-width: 2039px) {
		width: $w960 * 1.25;
	}
}

/*@media screen and (min-width: 750px) and (max-width: 989px) {
	.header, .main, .footer {
		width: $w720;
	}
}
@media screen and (min-width: 990px) and (max-width: 2039px) {
	.header, .main, .footer {
		width: $w960;
	}
}
@media screen and (min-width: 2039px) {
	.header, .main, .footer {
		width: $w960 * 1.25;
	}
}*/