
/*0 - 480 px: mobile*/

.mainmenu {
	display: block;
	position: relative;

}
.mainmenu_btn {
	display: none;
	@media screen and (max-width: 480px) {
		display: inline-block;
		position: absolute;
		top: $basic / 2;
		right: $basic / 2;
		width: $basic * 2;
		height: $basic * 2;
		color: $color-bg;
		background-color: $color-main;
		line-height: $basic * 2;
		font-size: $basic * 1.25;
		font-weight: bold;
		border-radius: $basic / 4;
		text-align: center;
		cursor: pointer;
	}
}
.mainmenu_list {
	display: block;
	width: 100%;
	list-style: none;
	text-align: center;
	@media screen and (max-width: 480px) {
		display: none;
	}
}
.mainmenu_item {
	display: block;
	text-align: center;
	@media screen and (min-width: 481px) {
		display: inline-block;
	}
}
.mainmenu_link {
	display: block;
	line-height: $basic * 3;
	padding: 0 $basic;
	background-color: $color-main;
	color: $color-bg;
	font-family: $font-common;
	text-decoration: none;
	text-transform: uppercase;
}
.mainmenu_link__current {
	background-color: $color-light;
}
.mainmenu__show {
	display: block;
	position: absolute;
	top: $basic * 3;
	right: 0;
}