doctype html
html(lang="en")
	include _head
	body
		#wrapper
			header#header
			main#main
				p testing up a main sectionzzz...
				section.fullscreen
				section.fullscreen
				section.fullscreen
				section.fullscreen
				section.fullscreen
			footer#footer